@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:wght@900&display=swap');

body{
    
    font-family: "Mulish", sans-serif;
    color: #04146c;
}

h1 {
    font-size: 37px;
    font-weight: 900;
}
h2 {
    font-size: 21px;
    font-weight: 700;
    color: #0a2ff1;
    margin-bottom: 2px;
}
p{
    font-size: 20px;
    font-weight:400;
    margin-left: 70px;
    width: 40%;
    margin-top: 0;
}

img {
    width: 55px;
    vertical-align: middle;
    margin-right: 15px; 
}



