@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../image/M4-desafio1-fondo.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin-top: 10px;
    height: 450px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../image/M4-desafio1-fondo-form.png') no-repeat center center;
    background-size: cover;
}

.form-container {
    width: 600px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center ;
} 

.form-container h1 {
    font-size: 32,64px;
    color: #04146c;
}

.form-container input {
    width: 500px;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 17pt;
    color: #414166;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 500px;
    height: 50px;
    font-size: 17pt;
    font-weight: 600;
    color: #fff;
    background-color: #15163d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

